.row
  .span12
    %h1 Meeting Templates

    %ul
      %li= link_to('Traditional Meetup', new_meeting_path(prototype: 'traditional'))
      %li= link_to('Lightning Talk Meetup', new_meeting_path(prototype: 'lightning'))
