%ul.nav.nav-pills
  %li= active_link_to('Most Votes', root_path, :wrap_tag => :li)
  %li= active_link_to('Most Recent', recent_path, :wrap_tag => :li) 
  %li= active_link_to('Leaderboard', leaderboard_path, :wrap_tag => :li)
